* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: DMYLAB;
    src: url(/assets/fonts/Poppins-Bold.ttf);
}

@font-face {
    font-family: DMYNUM;
    src: url(/assets/fonts/Poppins-ExtraBold.ttf);
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-col {
    display: flex;
    flex-direction: column;
}

.boxprops {
    box-sizing: border-box;
    z-index: auto;
}

.center {
    justify-content: center;
    align-items: center;
}

/* Part Container */

html {
    scroll-behavior: smooth;
}

body {
    background-color: #F0F0F0;
    min-height: 100vh;
}

main {
    min-height: 90vh;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    min-height: 8vh;
    font-size: 0.75rem;
    font-size: clamp(0.75rem, 0.4859154929577465rem + 1.1267605633802815vw, 1.5rem);
    text-align: center;
    padding-top: 19px;
    }

.contentContainer {
    background-color: #FFFFFF;
}

/* Part Input */

/* ------------ Web Screen Size -------------- */

@media (min-width: 768px) {

    /* Part Container */

    main {
        padding: 100px 20px 0 20px;
    }

    .contentContainer {
        min-width: 700px;
        width: 1000px;
        height: 700px;
        padding: 50px;
        border-radius: 10px 10px 150px 10px;
        margin: auto;
    }

    .formContainer {
        display: grid; 
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        grid-template-rows: 1fr 1fr; 
        gap: 0px 0px; 
        grid-template-areas: 
            "item-1 item-2 item-3 ."
            "item-4 item-4 item-4 item-4"; 
    }

    .item-1 { grid-area: item-1; }
    .item-2 { grid-area: item-2; }
    .item-3 { grid-area: item-3; }
    .item-4 { grid-area: item-4; }

    /* Part Input */

    label {
        color: #868686;
        letter-spacing: 2.5px;
        margin: 0 0 7px 2px;
        font-family: DMYLAB;
        font-size: 0.3rem;
        font-size: clamp(0.3rem, -0.1071428571428571rem + 1.7857142857142856vw, 0.9rem);
    }

    .item-1, .item-2 {
        margin-right: 20px;
    }

    #day, #month, #year {
        min-width: 50px;
        padding: 9px 22px;
        font-size: 1.5rem;
        font-size: clamp(1.5rem, 0.7857142857142858rem + 1.488095238095238vw, 2.125rem);
        font-family: DMYNUM;
        border-radius: 7px;
        border: 1px solid #DDDDDD;
    }

    #day #month #year:hover {
        border: 1px solid #9E8AD1;
    }

    .line {
        width: 500px;
        height: 2px;
        background-color: #EAEAEA;
        color: yellow;
    }
}

/* ------------ Mobile Screen Size -------------- */


@media (max-width: 767px) {

    /* Part Container */

    main {
        padding: 15px;
    }

    .contentContainer {
        min-width: 200px;
        width: 600px;
        height: 400px;
        padding: 50px;
        border-radius: 20px 20px 100px 20px;
    }

}